@{
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- about section Start -->
<section class="about-info">
    <div class="card-content">
        <h2>Chef Burak ’da her şey tadında</h2>
        <div class="text-content">
            <p>Ayrıcalıklı tarzıyla kendinden övgüyle söz ettiren Chef Burak , özel lezzetleri ile de konuklarını büyülemeye devam ediyor.</p>
            <p>Chef Burak 'da, her damak tadına uygun eşsiz lezzetler yer alıyor. Formunu korumak isteyenler için Fit menüler,  çocuklara</p>
            <p>özel lezzetler, daha genç damak tatları için wrap ve burgerlar, Türk ve dünya mutfağından seçkin örnekler Chef Burak 'da </p>
            <p>sizi bekliyor. Her köşesi sürprizlerle dolu… Girişten başlayan sıra dışı dekorasyon sürprizlerle devam ediyor. Ferah ve </p>
            <p>etkileyici bir salon,d ostlarınızla maç izleyebileceğiniz bir TV corner,  Chef Burak ’da sizi şaşırtacak detaylardan sadece </p>
            <p>bazıları. Business Lunch için ideal.Chef Burak Restorant gün ortasında iş temposundan sıyrılıp kendinizi özel hissetmeniz için</p>
            <p>birebir. Sıcak sohbet, özel servis, benzersiz lezzetler ve doğal içeceklerimizi tattıktan sonra,kendinizi yenilenmiş gibi hissedeceksiniz.</p>
        </div>
        <a href="">Menüleri Keşfet</a>
    </div>
</section>
<!-- end about section -->