@{
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- food section -->
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".burger">Burger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Pasta</li>
            <li data-filter=".salad">Salad</li>
            <li data-filter=".drink">Drink</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CAPRICCIOSA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $20
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CARBONARA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $17
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/DIABLO.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/FORTEZZA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/MARGHERITA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/NEAPOLITANO.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/PEPPERONI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/PROSCIUTTO.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/TARANTELLA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/VINCENT.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Plain.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Vegetarian.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pizza
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Big-Double-MeatBall.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $15
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Big-King-Jr.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $12
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Big-Mixed-Marley.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Big-mozzarella.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Big-Pepper.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CheeseBurger.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Chicken-Royale.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Classic-Chicken.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Double-Mc-Chicken.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Double-MeatBall.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Double-Nugget-Jr.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Rodeo-Whopper.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Burger
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $14
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/BUCATINI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CANNELLONI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CASUNZIEI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CULINGIONIS.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/FARFALLE.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/FETTUCCINE.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/FUSILLI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/GNOCCHI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/LASAGNE.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/MALFATTI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/STRANGOLAPRETTI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/VINCISGRASSI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Pasta
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $18
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/CAESAR.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-AI-CIPOLLOTTI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-CAPRESE.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-CAPRICCIOSA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-DI-MARE.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-DIRISO.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Spiced-Chickpea-Salad.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-MARI-E-MONTI.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-MISTA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/INSALATA-ALLA-GRIGLIA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/POLPO-ALL-INSALATA.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all salad">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Roasted-Chicken-Cobb.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Salad
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Diet-Cola.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Fruit-Soda.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Lemonade-Fuse-Tea.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Milkshake.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Monster-Energy-Drink.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Natty-Daddy-Lemonade-Drink.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Red-Bull-Energy-Drink.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Starbucks-Coffee.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Tamek-Cold-Lemonade-Tea.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Tea.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Turnip-water.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all drink">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/Water.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                French Drink
                            </h5>
                            <p>
                                Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque
                            </p>
                            <div class="options">
                                <h6>
                                    $10
                                </h6>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>
<!-- end food section -->