@{
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- Product-Details section -->
<section class="Product-Details">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-4">
                <img id="xd" src="/images/Plain.png" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Bol Sebzeli Pizza</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="product-price">$120</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div id="description">
                            Place sticky footer content here. Place sticky footer content here Place
                            sticky footer content here. Place sticky footer content here. Place sticky footer content here.
                            Place sticky footer content here. Place sticky footer content here Place
                            sticky footer content here. Place sticky footer content here. Place sticky footer content here.
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-4">
                    <div class="col-md-6">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <span class="badge badge-success">53</span>
                        <a id="write-review" href="#">write a review</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <input type="number" id="quantity_644007ccd2c39" class="input-text qty text" name="quantity" value="1" title="Qty" size="4" min="1" max="" step="1" placeholder="" inputmode="numeric" autocomplete="off">
                        <button class="button-btn"> <i class="fa fa-cart-plus"></i> Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="bd-example bd-example-tabs">
                    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-description-tab" data-toggle="pill" data-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="false">Description</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-payment-methods-tab" data-toggle="pill" data-target="#pills-payment-methods" type="button" role="tab" aria-controls="pills-payment-methods" aria-selected="false">Payment Methods</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-comment-tab" data-toggle="pill" data-target="#pills-comment" type="button" role="tab" aria-controls="pills-comment" aria-selected="true">Comment</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid excepturi pariatur minima, rem expedita vero debitis doloremque, officiis, consequuntur molestias sunt veniam illum harum quisquam quo at culpa illo iste?
                                Perferendis vitae nobis quasi. Quo facilis suscipit error enim autem perferendis expedita, quaerat repellat. Asperiores beatae cum fugiat error exercitationem suscipit rem quibusdam quidem aliquid maxime? Iusto, ex voluptate. Accusamus.
                                Ab, placeat beatae earum consectetur impedit fugit possimus nobis unde eum eaque ut distinctio totam minus atque aperiam dolor tenetur obcaecati modi suscipit sequi iure libero error quo blanditiis! Voluptatibus.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-payment-methods" role="tabpanel" aria-labelledby="pills-payment-methods-tab">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid excepturi pariatur minima, rem expedita vero debitis doloremque, officiis, consequuntur molestias sunt veniam illum harum quisquam quo at culpa illo iste?
                                Perferendis vitae nobis quasi. Quo facilis suscipit error enim autem perferendis expedita, quaerat repellat. Asperiores beatae cum fugiat error exercitationem suscipit rem quibusdam quidem aliquid maxime? Iusto, ex voluptate. Accusamus.
                                Ab, placeat beatae earum consectetur impedit fugit possimus nobis unde eum eaque ut distinctio totam minus atque aperiam dolor tenetur obcaecati modi suscipit sequi iure libero error quo blanditiis! Voluptatibus.
                            </p>
                        </div>
                        <div class="tab-pane fade active show" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid excepturi pariatur minima, rem expedita vero debitis doloremque, officiis, consequuntur molestias sunt veniam illum harum quisquam quo at culpa illo iste?
                                Perferendis vitae nobis quasi. Quo facilis suscipit error enim autem perferendis expedita, quaerat repellat. Asperiores beatae cum fugiat error exercitationem suscipit rem quibusdam quidem aliquid maxime? Iusto, ex voluptate. Accusamus.
                                Ab, placeat beatae earum consectetur impedit fugit possimus nobis unde eum eaque ut distinctio totam minus atque aperiam dolor tenetur obcaecati modi suscipit sequi iure libero error quo blanditiis! Voluptatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Product-Details section -->